.job-title-icon{
    width: 30px;
    height: 30px;
    border: 2px black solid;
    border-radius: 4px;
    display: inline-block;
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
    text-align: center;
}
.avatar-image{
    border: 2px white solid;
    border-radius: 50%;
    -webkit-box-shadow: 11px 10px 33px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 33px -13px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 33px -13px rgba(0,0,0,0.75);
}
.well.profile-description{
    background-color: #5cb85c;
    border-color: #4cae4c;
    
}
.well.contact-info{
    background-color: #31b0d5;
    border-color: #269abc;
    
}
.well.profile-block{
    color: #fff;
    h3{
        margin-top: 0;
    }
}